@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
 }
 
 @font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
  src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
 }
 
 @font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
  src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
 }


 @font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nanummyeongjo/v15/9Btx3DZF0dXLMZlywRbVRNhxy1LuEGI-gZ_Ll9dMHVruCTvHYAnNT2g.0.woff2) format('woff2');
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}
 

*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
body{
  font-family: 'NanumBarunGothic';
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

/*헤더*/

#top{
  height: 100px;
}
.top_in{
  width: 1320px;
  margin: 20px auto;
  font-family: 'Vidaloka', serif;
}
.top_in b{
  float: left;
}
.top_in> .nav{
  float: right;
}
.top_in> .nav> li{
  float: left;
}
.top_in> .nav> li> a{
  font-size: 24.11px;
  display: block;
  padding: 40px 20px 36px 20px;
}
.top_in> .nav> li> a:hover{
  color: #a8a8a8;
}

/*서브메뉴*/

.sub li a{
  display: block;
  padding: 20px 0;
  color: #590a11;
  background-color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-top: solid 1.5px rgba(255, 255, 255, 0.5);
  border-bottom: solid 1.5px rgba(0, 0, 0, 0.5);
}
.sub li a:hover{
  background-color: #000;
  color: #fff;
}
.sub{
  width: 100%;
  display: none;
}
.nav li:hover .sub{
  display: block;
}
#bm{
  background: url(../images/m0.jpg)no-repeat center top;
  width: 100%;
  height: 806px;
}

/*컨텐츠1*/

.con0{
  background-color: #000;
  width: 100%;
  height: 4310px;
  padding-top: 100px;
}
.con1{
  background: url(../images/m1.jpg)no-repeat center top;
  width: 1320px;
  height: 618px;
  text-align: center;
  margin: auto;
}
.con1_1{
  text-align: center;
  width: 1320px;
  margin: 50px auto;
  height: 122px;
} 
.con1_1 h2{
  font-size: 60px;
  color: #590a11;
  font-family: 'Secular One', sans-serif;
}
.con1_1 p{
  font-size: 18px;
  padding-top: 50px;
}

/*컨텐츠2 메인메뉴*/

/*컨텐츠2-1*/
h1{
  width: 1320px;
  margin: auto;
  text-align: center;
  padding: 50px 0 70px 0;
  font-size: 60px;
}
.con2{
  background: url(../images/c0.png)no-repeat center top;
  width: 1094px;
  height: 547px;
  margin: auto;
  width: 1320px;
}
.con2_1{
  position: relative;
}
.imgc1{
 margin-bottom: 30px;
}
.q1{
  background-color: rgba(0, 0, 0, 0.7);
  width: 376px;
  height: 265px;
  text-align: center;
  margin-top: -30px;
}
h3{
  font-size: 40px;
  font-weight: bold;
  color: rgb(205, 147, 78);
  padding-top: 40px;
  transform: scaleX(0.8);
}

.q1 li:nth-child(2){
  font-size: 30px;
  font-family: 'Secular One', sans-serif;
  font-weight: bold;
  padding: 30PX 0;
  transform: scaleX(0.8);
}
.q1 li:nth-child(3){
  font-size: 20px;
  line-height: 30px;
  transform: scaleX(0.9);
}
.n1_div{
  position: absolute;
  top: 0px;
  right: 30px;
}
.n1{
  background-color: rgba(0, 0, 0, 0.7);
  width: 356px;
  height: 276px;
  text-align: center;
}
.n1 li:nth-child(2){
  font-size: 30px;
  font-family: 'Secular One', sans-serif;
  font-weight: bold;
  padding: 30PX 0;
  transform: scaleX(0.9);
}
.n1 li:nth-child(3){
  font-size: 20px;
  line-height: 30px;
  transform: scaleX(0.8);
}
.imgc2{
  padding: 30px 0;
}

/*컨텐츠2-2*/

.con3{
  background: url(../images/c10.png)no-repeat center top;
  width: 1094px;
  height: 547px;
  margin: 100px auto;
  width: 1320px;
}
.con2_2{
  position: relative;
}
.imgc1{
  padding: 84px 0 30px 20px;
}
.r1{
  background-color: rgba(0, 0, 0, 0.7);
  width: 376px;
  height: 265px;
  text-align: center;
}
h3{
  font-size: 40px;
  font-weight: bold;
  color: rgb(205, 147, 78);
}
.r1 .r3{
  padding-top: 50px;
}

.r1 li:nth-child(2){
  font-size: 30px;
  font-family: 'Secular One', sans-serif;
  font-weight: bold;
  padding: 30PX 0;
}
.r1 li:nth-child(3){
  font-size: 20px;
  line-height: 40px;
  padding-top: 15px;
}
.n2_div{
  position: absolute;
  top: 0px;
  right: 30px;
}
.n2{
  background-color: rgba(0, 0, 0, 0.7);
  width: 356px;
  height: 276px;
  text-align: center;
  margin-top: 43px;
}
.n2 li:nth-child(2){
  font-size: 30px;
  font-family: 'Secular One', sans-serif;
  font-weight: bold;
  padding: 30PX 0;
  transform: scaleX(0.8);
}
.n2 li:nth-child(3){
  font-size: 20px;
  transform: scaleX(0.8);
}
.imgc2{
  padding-top: 50px;
}
/*컨텐츠2-3*/
.con4{
  background: url(../images/c20.png)no-repeat center top;
  width: 1094px;
  height: 547px;
  margin: auto;
  width: 1320px;
}
.d1{
  background-color: rgba(0, 0, 0, 0.7);
  width: 376px;
  height: 265px;
  text-align: center;
  margin-top: -30px;
}

.d1 li:nth-child(2){
  font-size: 30px;
  font-family: 'Secular One', sans-serif;
  font-weight: bold;
  padding: 20PX 0;
}
.d1 li:nth-child(3){
  font-size: 20px;
  padding-top: 20px;
}

.imgc2{
  padding-top: 30px;
}
/*컨텐츠2-4*/

.con5{
  background: url(../images/c30.png)no-repeat center top;
  width: 1094px;
  height: 547px;
  margin: 100px auto;
  width: 1320px;
}
.con2_2{
  position: relative;
}
.imgc1{
  padding: 84px 0 30px 20px;
}
.s1{
  background-color: rgba(0, 0, 0, 0.7);
  width: 376px;
  height: 265px;
  text-align: center;
}
.r1 h3{
  font-size: 40px;
  font-weight: bold;
  color: rgb(205, 147, 78);
  padding-top: 20px;
}

.r1 li:nth-child(2){
  font-size: 30px;
  font-family: 'Secular One', sans-serif;
  font-weight: bold;
  padding: 20PX 0;
}
.r1 li:nth-child(3){
  font-size: 20px;
  line-height: 30px;
}
.n2_div{
  position: absolute;
  top: 0px;
  right: 30px;
}
.s1{
  background-color: rgba(0, 0, 0, 0.7);
  width: 356px;
  height: 276px;
  text-align: center;
  margin-top: 10px;
}
.s1 h3{
  padding: 30px 0;
}
.s1 li:nth-child(2){
  font-size: 30px;
  font-family: 'Secular One', sans-serif;
  font-weight: bold;
  padding-bottom: 30px;
  transform: scaleX(0.8);
}
.s1 li:nth-child(3){
  font-size: 20px;
  line-height: 40px;
  transform: scaleX(0.8);
}
.imgc2{
  padding-top: 50px;
}
/*컨텐츠2-5*/
.con6{
  background: url(../images/c40.png)no-repeat center top;
  width: 1094px;
  height: 547px;
  margin: auto;
  width: 1320px;
}
.imgc3{
  padding: 40px 0;
}
.cr1{
  background-color: rgba(0, 0, 0, 0.7);
  width: 376px;
  height: 265px;
  text-align: center;
}

.cr1 li:nth-child(2){
  font-size: 30px;
  font-family: 'Secular One', sans-serif;
  font-weight: bold;
  padding: 20PX 0;
  transform: scaleX(0.8);
}
.cr1 li:nth-child(3){
  font-size: 20px;
  padding-top: 20px;
  transform: scaleX(0.8);
}

.imgc2{
  padding-top: 30px;
}

/*푸터*/

.f0{
  background-color: rgb(152, 152, 152);
  height: 150px;
  border-top: 2px solid #000;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}
.f0_in{
  width: 1320px;
  margin:auto;
  padding-top: 30px;
  line-height: 90%;
}
h6{
  float: left;
}
.f1_l{
  float: left;
}
.f1_l li{
  float: left;
  padding: 15px;
}
.f1_l li a{
  color: rgba(0, 0, 0, 0.5);
}
.f1_l p{
  padding: 10px 0 5px 15px;
}
.f1_r{
  float: right;
}
.f1_r li{
  padding: 5px;
  opacity: 0.5;
  float: left;
  padding: 15px 5px 0 0;
}
.f1_r li:hover{
  opacity: 1;
}
.f1_l li:hover a{
  color: #000;
}
.f1_r p{
  clear: both;
  padding-top: 10px;
}
